.masonry {
  --gap: 1em;
  --columns: 5;
  columns: var(--columns);
  gap: var(--gap);
  margin: 2em auto;
  height: 100%;
}

.masonry > * {
  break-inside: avoid;
  margin-bottom: 1em;
}

.cell {
  background-color: #fff;
  width: 100%;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.github-link {
  margin-bottom: 1em;
}
